In [1]:
# twelvedata API for more info https://github.com/twelvedata/twelvedata-python
from twelvedata import TDClient
td = TDClient(apikey="c7735dfefbfe4378848d2a516016b65e")

In [13]:
# Construct the necessary time series
ts = td.time_series(
    symbol="EUR/USD",
    interval="1min",
    outputsize=10,
    timezone="Europe/Berlin",
)

In [14]:
json_sample = ts.as_json()

In [15]:
json_sample

({'datetime': '2023-04-26 21:17:00',
  'open': '1.10360',
  'high': '1.10360',
  'low': '1.10350',
  'close': '1.10350'},
 {'datetime': '2023-04-26 21:16:00',
  'open': '1.10370',
  'high': '1.10370',
  'low': '1.10350',
  'close': '1.10350'},
 {'datetime': '2023-04-26 21:15:00',
  'open': '1.10390',
  'high': '1.10390',
  'low': '1.10370',
  'close': '1.10370'},
 {'datetime': '2023-04-26 21:14:00',
  'open': '1.10390',
  'high': '1.10400',
  'low': '1.10380',
  'close': '1.10400'},
 {'datetime': '2023-04-26 21:13:00',
  'open': '1.10395',
  'high': '1.10395',
  'low': '1.10380',
  'close': '1.10380'},
 {'datetime': '2023-04-26 21:12:00',
  'open': '1.10410',
  'high': '1.10410',
  'low': '1.10390',
  'close': '1.10395'},
 {'datetime': '2023-04-26 21:11:00',
  'open': '1.10400',
  'high': '1.10410',
  'low': '1.10400',
  'close': '1.10410'},
 {'datetime': '2023-04-26 21:10:00',
  'open': '1.10370',
  'high': '1.10400',
  'low': '1.10370',
  'close': '1.10400'},
 {'datetime': '2023-04-26 21:09:00',
  'open': '1.10390',
  'high': '1.10400',
  'low': '1.10380',
  'close': '1.10380'},
 {'datetime': '2023-04-26 21:08:00',
  'open': '1.10375',
  'high': '1.10400',
  'low': '1.10375',
  'close': '1.10390'})

In [16]:
# Construct the necessary time series
ts = td.time_series(
    symbol="EUR/USD",
    interval="1min",
    outputsize=10,
    timezone="Europe/Berlin",
)
json_sample = ts.as_json()

AttributeError: 'TimeSeries' object has no attribute 'with_vol'